MYSQL_ROOT_PASSWORD=


MYSQL_HOST=db
# This variable is optional and allows you to specify the name of a database to be created on image startup. If a user/password was supplied (see below) then that user will be granted superuser access (corresponding to GRANT ALL) to this database.
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

